*{
    margin:0 ;
    PADDING: 0 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}
.container{
    width: 100% ;
    min-height: 100vh;
    background: linear-gradient(150deg,#6982F5,#91503C	);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.NameForm {
    position: relative;
    width: 100%;
    max-width: 540px;
    min-height: 400px; 
    background: #fff;
    margin: 50px auto 20px;
    padding: 30px; 
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.NameForm h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 30px; 
}

.submit-container {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

.submit-btn {
    border: none;
    outline: none;
    padding: 12px 30px;
    background: #ffd700;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #e6c200;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px ;
    padding-left: 20px;
    margin-bottom: 25px; 
 }
 
 
 input{
     flex: 1;
     border:none;
     outline:none ;
     background : transparent;
     padding : 15px; 
 }
 

.instructions-box {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: relative;
    width: 100%;
    max-width: 540px;
    min-height: 40px; 
    background: #fff;
    margin: 50px auto 20px;
    padding: 30px; 
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.instructions-box h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    
}



