h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
*{
    margin:0 ;
    PADDING: 0 ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-sizing: border-box;
}


.container{
    width: 100% ;
    min-height: 100vh;
    background: linear-gradient(150deg,#6982F5,#91503C	);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.QuizCard {
    width: 100%;
    max-width: 540px;
    min-height: 400px; 
    background: #fff;
    margin: 50px auto 20px;
    padding: 30px; 
    border-radius: 10px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.QuizCard h2 {
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 30px; 
}

.row{
   display: flex;
   align-items: center;
   justify-content: space-between;
   background: #edeef0;
   border-radius: 30px ;
   padding-left: 20px;
   margin-bottom: 25px; 
}


input{
    flex: 1;
    border:none;
    outline:none ;
    background : transparent;
    padding : 15px; 
}

button{
    border:none;
    outline:none ;
    padding : 16px 50px;
    background: #ffd700;
    color: #fff;
    font-size: 16;
    cursor: pointer;
    border-radius: 40px;

}
button:hover{
    background: #debf0e;
}
ul li{
list-style:none;
font-size: 17px;
padding: 12px 8px 12px 50px;
user-select: none;
cursor: pointer;
position: relative

}
ul li::before{
content: '';
position: absolute;
height: 28px;
width: 28px;
border-radius: 50%;
background: url(circle-png-15268.png);
background-size: cover;
background-position: center ;
top:12px;
left: 8px;

}



ul li.check::before{
    background-image: url(green\ check.png);
}

ul li span{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;

}
ul li span:hover{
    background: #edeef0;

}


.submit-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.submit-btn {
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ffd700;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    border-radius: 40px;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #e6c200;
}

